# This is a basic workflow to help you get started with Actions

name: macos

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-14

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        
      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          export DEVELOPER_DIR=/Applications/Xcode_16.2.app
          brew list
          ls -l /opt/homebrew/opt
          brew rm fmt

          cmake -S . -B build -G Ninja
          cmake --build build
