name: windows
on:
  # push:
  #  branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    # runs-on: windows-11-arm
    defaults:
      run:
        shell: bash
    steps:
      - run: |
          pip install conan
          conan install --require=protobuf/3.21.12 -of 1 --build="protobuf/*"
        #shell: cmd

      # - uses: actions/checkout@v4

      # - name: Upload artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: ffmpeg-build-dir
      #     compression-level: 0
      #     path: |
      #       ${{ env.CONAN_HOME }}/p/b/ffmp*/b/build-release
